body {
    font-family: "Open Sans", sans-serif;
}

.jumbotron {
    background: linear-gradient(to right, #c300eb 0%, #8afff7 100%);
    color: white;
}

h1, h3 {
    font-family: 'Courgette', cursive;
}